@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* custom tweaks */
body {
    background-color: #f8f9fa;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.table-responsive {
    overflow-x: auto;
}

.card-header h2 {
    margin: 0;
}